<p id="delivery_time">
  <%= form.label :start_delivery_time %><br />
  <%= form.time_select :start_delivery_time %>
  <br/>
  <%= form.label :end_delivery_time %><br />
  <%= form.time_select :end_delivery_time %>
</p>
