<p id="delivery_time">
  <%= form.label :start_delivery_time, "Start Delivery Time" %><br />
  <%= form.time_select :start_delivery_time %>
  <%= form.label :end_delivery_time, "End Delivery Time" %><br />
  <%= form.time_select :end_delivery_time %>
</p>
